.setting_body{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.setting_pf_container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.profile-top{
    width: 230px;
    height: 230px;
    margin: 0;
    align-items: center;
    position: relative;
}
.pf_pic{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}
.pf_pic img{
    width: 100%;
    height: 100%;
}
.profile-top span{
    position: absolute;
    bottom: 20px;
    right: 20px;
    transform: translate(-50%, -50%);
}
.pf_detail{
    margin: 0;
    padding: 0;
}
.pf_detail p{
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
}
.setting_btn_container{
    width: 75%;
    height: 70px;
    font-size: 24px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
  .open-btn {
    padding: 10px 20px;
    background-color: #e50914;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .popup-box {
    background-color: #2b2b2b;
    padding: 30px 25px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 1px solid #1c1c1c;
  }
  
  .popup-box form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .popup-box label {
    color: white;
    font-size: 14px;
  }
  
  .popup-box input {
    padding: 12px 15px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
  }
  
  .popup-box input::placeholder {
    color: #999;
  }
  
  .popup-box button {
    background-color: #e50914;
    color: white;
    border: none;
    padding: 14px;
    font-weight: bold;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .popup-box button:hover {
    background-color: #c40812;
  }
  
@media screen and (max-width: 768px) {
    .profile-top{
        width: 180px;
        height: 180px;
    }
    .pf_pic{
        width: 150px;
        height: 150px;
    }
    .profile-top span{
        bottom: 10px;
        right: 0px;
    }
    .setting_btn_container{
        font-size: 20px;
    }
}

@media screen and (max-width: 480px) {
    .setting_btn_container{
        font-size: 16px;
    }
    .profile-top{
        width: 130px;
        height: 130px;
    }
    .pf_pic{
        width: 100px;
        height: 100px;
    }
    .pf_detail p {
        font-size: 14px;
    }
    .popup-box {
        padding: 20px 15px;
        border-radius: 10px;
      }
    
      .popup-box form {
        gap: 12px;
      }
    
      .popup-box input,
      .popup-box button {
        font-size: 14px;
        padding: 10px;
      }
    
    .popup-box label {
        font-size: 13px;
    }
}
