.login-container {
  width: 100%;
  max-width: 400px;
  margin: 80px auto;
  padding: 30px;
  background-color: #1e1e1e;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-container input {
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
}

.login-container input:focus {
  outline: none;
  box-shadow: 0 0 0 2px red;
}

.login-container button {
  background-color: red;
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.login-container button:hover {
  background-color: darkred;
}

.login-container p {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}
.signup-container {
  width: 100%;
  max-width: 400px;
  margin: 80px auto;
  padding: 30px;
  background-color: #1e1e1e;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.signup-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.signup-container input {
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
}

.signup-container input:focus {
  outline: none;
  box-shadow: 0 0 0 2px red;
}

.signup-container button {
  background-color: red;
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.signup-container button:hover {
  background-color: darkred;
}

.signup-container p {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}
.category-list{
  width: 100%;
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.category-button{
  background-color: #2A2A2A;
  align-items: center;
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}
.category-list img{
  width: 15px;
  height: 15px;
  margin-right: 5px;
  filter: brightness(0) invert(1);
}
.category-button:hover {
  background: #ff596f;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.category-button.active {
  background: #E50914;
  color: white;
}
