.trending-container {
  /* height: 65vh; */
  padding: 2rem;
  padding-top: 2rem; /* Adjust for navigation bar height */
  font-family: Arial, sans-serif;
  width: 100%; /* Adjusted to fit the screen width */
  box-sizing: border-box; /* Ensure padding is included in width */
}

.trending-title {
  font-size: 1.5789rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.movie-slider-container {
  position: relative;
}

.movie-slider {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding-bottom: 1.5rem;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.movie-slider::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.movie-card {
  height: 24rem;
  flex: 1 0 auto;
  width: 215px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 1rem;
  padding: 0rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 0.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-card:hover {
  transform: translateY(-10px); /* Move the card slightly upward */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Add a stronger shadow on hover */
}

.movie-poster {
  border-radius: 1rem;
  overflow: hidden;
}

.poster-image {
  width: 100%;
  height: 270px;
  object-fit: cover;
  margin-top: auto;
}

.movie-title {
  font-weight: 500;
  font-size: 1.125rem;
  margin-bottom: 0.25rem;
}

.movie-rating {
  display: flex;
  align-items: center;
}

.star {
  color: #ffc300;
}

.rating-text {
  margin-left: 0.25rem;
  font-size: 0.875rem;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 0.5rem;
  backdrop-filter: blur(4px);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.scroll-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.scroll-button.scroll-right {
  right: 0;
}

.scroll-button.scroll-left {
  left: 0;
}

.scroll-button.scroll-left:hover {
  background-color: rgba(0, 0, 0, 0.7);
}